.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-gap: 50px 10px;
}

.box {
  background-color: #74b9ff;
}

.box:nth-child(even) {
  background-color: #a29bfe;
}

