* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0.7rem 0;
}

.container {
  max-width: 460px;
  margin: 1rem auto;
  border-radius: 8px;
  padding: 0.5rem 1.3rem;
  box-shadow: 1px 1px 6px #c6c6c6;
}

.container p {
  padding: 1rem;
  border-radius: 4px;
  margin: 0.2rem 0;
}

/* ဒီအောက်မှာ အဖြေတွေစရေးပေးပါ */
