* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.col-3 {
  grid-column: auto / span 3;
}

.col-4 {
  grid-column:  auto / span 4;
}

.col-5 {
  grid-column: auto / span 5;
}

.col-6 {
  grid-column: auto / span 6;
}

.col-7 {
  grid-column: auto / span 7;
}

.col-12 {
  grid-column: auto / span 12;
}


.box {
  padding: 1rem;
  background-color: #74b9ff;
}

.box:nth-child(even) {
  background-color: #a29bfe;
}

.min-h-60px {
  min-height: 60px;
}

.min-h-150px {
  min-height: 150px;
}

.min-h-300px {
  min-height: 300px;
}