.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.container-style {
  max-width: 480px;
  margin: 0 auto;
  background: #e2feff;
  padding: 1rem;
}

.box {
  width: 80px;
  height: 80px;
  margin: 0.3rem;
  border-radius: 5px;
  position: relative;
}

.box:nth-child(4n + 1) {
  background-color: #74b9ff;
}
.box:nth-child(4n + 2) {
  background-color: #ffbe76;
}
.box:nth-child(4n + 3) {
  background-color: #ff7979;
}
.box:nth-child(4n + 4) {
  background-color: #7ed6df;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
